/* write your override styles here */
#wall .tag-1 { 
  display:none;
}
#wall #tag-3.slick.wicked {
  display:none;
}

#wall.parent { 
  display: none;
}

.tag-1 + #tag-2 { 
  display: none;
}

/*done with tags: 1, 3, 

tag-2 = arrows
tag-4 = 
tag-5 = 
tag-6 = 
tag-7 = 
*/